In [11]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [206]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getPossibleFilingsFromYears(self, years):
        return [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
    
    def getExcelSheetsPostDate(self,Excel):
        years = range(self.fromDate,self.endDate+1)
        names = self.getPossibleFilingsFromYears(years)
        names = ["Year Ended "+str(self.fromDate-1)]+names
        files = [filing for name in names for filing in Excel.keys() if name in filing] 
        Excel = {file:Excel[file] for file in files}
        return Excel
    
    def reorderQuarters(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        cols = self.getPossibleFilingsFromYears(years)
        cols = [col for col in cols if col in quarters]
        compiledStatement = compiledStatement[["label"] + cols]
        return compiledStatement
        
    def getQuarters(self, compiledStatement):
        return list(compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = re.sub("\([\w\W]+?\)","",new_label)
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        new_label = new_label.replace("gain","loss").replace("decrease","increase").replace("  "," ").replace("â€”"," - ").replace("/","").strip()
        return new_label
    
    
    def addData(self, Excel):
        compiledStatement = pd.DataFrame(columns=["label"])
        
        for quarter,sheet in list(Excel.items()):
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            
            sheet = sheet.dropna(subset="label", axis=0, how="any")
            sheet = sheet[(~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True))|sheet[quarter].isnull()]
            
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            sheeti = statementi = 0
            newStatement = pd.DataFrame()
            #merge the current finalstatement and new sheet into one statement 
            #go through each row of the two statements and keep track of the indexes of each statement
            #continue until one of either the compiled statement or sheet ends
            while sheeti < len(sheet) and statementi < len(compiledStatement):
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)

                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    newStatement = pd.concat([newStatement, newRow], ignore_index=True)
                    
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    maxi = min(sheeti+4,len(sheet))
                    
                    #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                    #if it corresponds, then I will move the sheet up instead
                    if statement_label in list(sheet.iloc[sheeti:maxi].label): 
                        newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                        sheeti += 1
                        continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    
                    statementi += 1
                    
                newStatement = newStatement.reset_index(drop=True)
                newStatement.index = newStatement.index+1
        
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])

            compiledStatement = newStatement
            
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement

In [207]:
class CompileIncomeStatement(HelperFunctions):
    def __init__(self,ticker,fromDate, endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.compiledStatement = self.performIncomeMath(self.compiledStatement)
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)
    
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    
    
    def performIncomeMath(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = compiledStatement["Year Ended "+year] - compiledStatement["Q3 "+year]
                compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]
        return compiledStatement

In [198]:
class Income:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Income Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileIncomeStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileIncomeStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [199]:
income = Income("GPS",2017)
income.compiledStatement

,label,Year Ended 2016,Q1 2017,Q2 2017,Q3 2017,Q4 2017,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,...,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022
0,net sales,15797.00,3438.00,3851.00,3798.00,11718.00,15516.00,3440.00,3799.00,3838.00,...,2107.00,3275.00,3994.00,NaN,NaN,3991.00,4211.00,3943.0,1.667000e+10,1.667000e+10
1,revenues,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.380000e+10,NaN,NaN,NaN,NaN,NaN
2,cost of goods sold and occupancy expenses,10077.00,2229.00,2414.00,2305.00,7571.00,9876.00,2137.00,2320.00,2313.00,...,1839.00,2126.00,2374.00,9.094998e+09,9.095000e+09,2361.00,2388.00,2282.0,1.003300e+10,1.003300e+10
3,gross profit,5720.00,1209.00,1437.00,1493.00,4147.00,5640.00,1303.00,1479.00,1525.00,...,268.00,1149.00,1620.00,4.704998e+09,4.705000e+09,1630.00,1823.00,1661.0,6.636998e+09,6.637000e+09
4,operating expenses,4196.00,987.00,1158.00,1104.00,3345.00,4449.00,1049.00,1028.00,1147.00,...,1512.00,1076.00,1445.00,5.566999e+09,5.567000e+09,1390.00,1414.00,1508.0,5.826998e+09,5.827000e+09
5,operating income,1524.00,222.00,279.00,389.00,802.00,1191.00,254.00,451.00,378.00,...,-1244.00,73.00,175.00,-8.620002e+08,-8.620000e+08,240.00,409.00,153.0,8.099998e+08,8.100000e+08
6,loss on extinguishment of debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,58.00,0.00,5.800000e+07,5.800000e+07,NaN,0.00,325.0,3.249997e+08,3.250000e+08
7,interest expense,59.00,19.00,18.00,20.00,55.00,75.00,19.00,16.00,18.00,...,19.00,58.00,55.00,1.919999e+08,1.920000e+08,54.00,51.00,44.0,1.670000e+08,1.670000e+08
8,interest income,-6.00,-1.00,-2.00,-3.00,-5.00,-8.00,-3.00,-4.00,-4.00,...,-4.00,-2.00,-1.00,-9.999999e+06,-1.000000e+07,-1.00,-1.00,-1.0,-4.999999e+06,-5.000000e+06
9,income before income taxes,1471.00,204.00,263.00,372.00,752.00,1124.00,238.00,439.00,364.00,...,-1259.00,-41.00,121.00,-1.102000e+09,-1.102000e+09,187.00,359.00,-215.0,3.230002e+08,3.230000e+08
10,income taxes,551.00,77.00,138.00,168.00,280.00,448.00,95.00,168.00,135.00,...,-327.00,21.00,26.00,-4.370000e+08,-4.370000e+08,21.00,101.00,-63.0,6.700006e+07,6.700000e+07
11,net income,920.00,127.00,125.00,204.00,472.00,676.00,143.00,271.00,229.00,...,-932.00,-62.00,95.00,-6.650001e+08,-6.650000e+08,166.00,258.00,-152.0,2.560002e+08,2.560000e+08
12,weighted-average number of shares - basic,411.00,398.00,398.00,399.00,399.00,399.00,399.00,395.00,391.00,...,372.00,374.00,374.00,3.740000e+02,3.740000e+02,376.00,378.00,376.0,3.760000e+02,3.760000e+02
13,weighted-average number of shares - diluted,413.00,399.00,399.00,400.00,400.00,400.00,400.00,396.00,393.00,...,372.00,374.00,380.00,3.740000e+02,3.740000e+02,385.00,386.00,376.0,3.830000e+02,3.830000e+02
14,earnings per share - basic,2.24,0.32,0.31,0.51,1.18,1.69,0.36,0.69,0.59,...,-2.51,-0.17,0.25,-2.030000e+00,-1.780000e+00,0.44,0.68,-0.4,1.080000e+00,6.800000e-01
15,earnings per share - diluted,2.23,0.32,0.31,0.51,1.18,1.69,0.36,0.68,0.58,...,-2.51,-0.17,0.25,-2.030000e+00,-1.780000e+00,0.43,0.67,-0.4,1.070000e+00,6.700000e-01
16,cash dividends declared and paid per share,NaN,0.23,0.23,0.23,NaN,NaN,0.23,0.23,0.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"common stock, dividends, per share, declared",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [208]:
class CompileCashflowStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel

In [209]:
class Cashflow:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileCashflowStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileCashflowStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [210]:
cashflow = Cashflow("XOM",2020)
cashflow.compiledStatement

Year Ended 2021
Year Ended 2021
Q1 2022
Year Ended 2021
Q1 2022

,label,Year Ended 2021,Q1 2022
0,cash flows from operating activities,NaN,NaN
1,net income including noncontrolling interests,23598.0,5750.0
2,adjustments for noncash transactions,NaN,NaN
3,depreciation and depletion,20607.0,8883.0
4,deferred income tax charges,303.0,NaN
5,postretirement benefits expense in excess of n...,754.0,NaN
6,other long-term obligation provisions in exces...,50.0,NaN
7,dividends received greater than equity in curr...,-668.0,NaN
8,"changes in operational working capital, exclud...",NaN,1086.0
9,reduction - notes and accounts receivable,-12098.0,NaN
10,reduction - inventories,-489.0,NaN
11,reduction - other current assets,-71.0,NaN
12,increase - accounts and other payables,16820.0,NaN
13,net loss on asset sales,-1207.0,NaN
14,all other items - net,530.0,NaN
15,all other items â€“ net,NaN,-931.0
16,net cash provided by operating activities,48129.0,14788.0
17,cash flows from investing activities,NaN,NaN
18,"additions to property, plant and equipment",-12076.0,-3911.0
19,proceeds from asset sales and returns of inves...,3176.0,293.0
20,additional investments and advances,-2817.0,-417.0
21,other investing activities including collectio...,1482.0,90.0
22,net cash used in investing activities,-10235.0,-3945.0
23,cash flows from financing activities,NaN,NaN
24,additions to long-term debt,46.0,NaN
25,reductions in long-term debt,-8.0,NaN
26,additions to short-term debt,12687.0,0.0
27,reductions in short-term debt,-29396.0,-2098.0
28,"additions in commercial paper, and debt with t...",-2983.0,NaN
29,contingent consideration payments,-30.0,NaN
30,additions in debt with three months or less ma...,NaN,1366.0
31,cash dividends to exxonmobil shareholders,-14924.0,-3760.0
32,cash dividends to noncontrolling interests,-224.0,-60.0
33,changes in noncontrolling interests,-436.0,-94.0
34,common stock acquired,-155.0,-2067.0
35,net cash provided by financing activities,-35423.0,NaN
36,net cash used in financing activities,NaN,-6713.0
37,effects of exchange rate changes on cash,-33.0,142.0
38,increase in cash and cash equivalents,2438.0,4272.0
39,cash and cash equivalents at beginning of year,4364.0,NaN
40,cash and cash equivalents at end of year,6802.0,NaN
41,cash and cash equivalents at beginning of period,NaN,6802.0
42,cash and cash equivalents at end of period,NaN,11074.0
43,supplemental disclosures,NaN,NaN
44,income taxes paid,NaN,1798.0
45,cash interest paid,NaN,NaN
46,cash interest paid - included in cash flows fr...,NaN,319.0
47,"cash interest paid - capitalized, included in ...",NaN,187.0
48,total cash interest paid,NaN,506.0
49,noncash right of use assets recorded in exchan...,NaN,NaN
50,noncash right of use assets recorded in exchan...,NaN,240.0
51,noncash right of use assets recorded in exchan...,NaN,656.0

In [191]:
class CompileBalanceStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Balance Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Balance Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel

In [192]:
class Balance:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Balance Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileBalanceStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileBalanceStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [194]:
balance = Balance("WMT",2020)
balance.compiledStatement

,label,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Year Ended 2022
0,current assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cash and cash equivalents,7722,9255,9283,8606,9465,14930,16906,14325,17741,22846,22831,16111,14760
2,"receivables, net",6283,5342,5382,5612,6284,5029,5111,5770,6516,5797,6103,7349,8280
3,inventories,44269,44751,44134,51546,44435,41217,41084,51842,44949,46383,47754,57484,56511
4,prepaid expenses and other,3623,2391,2572,2148,1622,2152,1895,1665,20861,1565,1555,2020,1519
5,total current assets,61897,61739,61371,67912,61806,63328,64996,73602,90067,76591,78243,82964,81070
6,property and equipment:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,property and equipment,185810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,less accumulated depreciation,-81493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"property and equipment, net",104317,104604,104674,104326,105208,101872,101182,102232,92201,90996,91621,92242,94515
10,property under capital lease and financing obl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,property under capital lease and financing obl...,12760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,less accumulated amortization,-5682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"operating lease right-of-use assets, net",NaN,16833,17239,16944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,operating lease right-of-use assets,NaN,NaN,NaN,NaN,17424,16895,16869,17128,13642,13650,13868,13863,13758
15,"finance lease right-of-use assets, net",NaN,3804,3949,4155,4417,4611,4843,4929,4005,3979,4109,4226,4351
16,property under capital lease and financing obl...,7078,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,goodwill,31181,31416,31454,30716,31073,29416,29542,30236,28983,28872,29159,28923,29014
18,other long-term assets,14822,16148,16174,15777,16567,16770,19950,22736,23598,22493,21552,22633,22152
19,total assets,219295,234544,234861,239830,236495,232892,237382,250863,252496,236581,238552,244851,244860
20,current liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,short-term borrowings,5225,4828,3681,4926,575,4048,357,240,224,362,671,447,410
22,accounts payable,47060,45110,45871,49750,46973,44096,46326,54152,49141,48151,49601,57156,55261
23,dividends payable,NaN,4551,3023,1507,NaN,4588,3060,1529,NaN,4651,3109,1528,NaN
24,accrued liabilities,22159,21023,20691,20973,22296,20377,23768,24995,37966,21371,23915,24474,26060
25,accrued income taxes,428,729,387,327,280,1303,610,548,242,851,267,446,851
26,long-term debt due within one year,1876,1464,4396,4093,5362,5983,5553,4358,3115,3500,1617,1575,2803
27,operating lease obligations due within one year,NaN,1748,1795,1740,1793,1729,1734,1725,1466,1448,1441,1486,1483
28,finance lease obligations due within one year,NaN,435,439,468,511,523,549,574,491,507,501,508,511
29,capital lease and financing obligations due wi...,729,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,total current liabilities,77477,79888,80283,83784,77790,82647,81957,88121,92645,80841,81122,87620,87379
31,long-term debt,43520,47425,44404,44912,43714,43006,40959,40849,41194,40273,39581,36425,34864
32,long-term operating lease obligations,NaN,15719,16079,15741,16171,15669,15669,15982,12909,12930,13116,13095,13009
33,long-term finance lease obligations,NaN,3810,3915,4068,4307,4474,4673,4750,3847,3802,3952,4061,4243
34,long-term capital lease and financing obligations,6683,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,deferred income taxes and other,11981,12792,13049,13018,12961,12986,12927,13657,14370,14143,13654,12893,13474
36,commitments and contingencies,,,,,,,,,,,,,
37,equity:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,common stock,288,286,285,284,284,284,283,283,282,280,278,277,276
39,capital in excess of par value,2965,2734,2880,3091,3247,2983,3197,3485,3646,3424,3655,4811,4839
40,retained earnings,80785,76276,78432,80656,83943,81141,87614,92279,88763,82577,84572,85674,86904
41,accumulated other comprehensive loss,-11542,-11091,-11270,-12382,-12805,-16168,-15784,-14616,-11766,-7946,-7976,-8488,-8766
42,total walmart shareholders' equity,72496,68205,70327,71649,74669,68240,75310,81431,80925,78335,80529,82274,83253
43,noncontrolling interest,7138,6705,6804,6658,6883,5870,5887,6073,6606,6257,6598,8483,8638
44,total equity,79634,74910,77131,78307,81552,74110,81197,87504,87531,84592,87127,90757,91891
45,total liabilities and equity,219295,234544,234861,239830,236495,232892,237382,250863,252496,236581,238552,244851,244860