In [143]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [ ]:
https://data.sec.gov/submissions/CIK0000320193.json

https://data.sec.gov/api/xbrl/companyconcept/CIK0000320193/us-gaap/AccountsPayableCurrent.json
    
https://www.sec.gov/edgar/sec-api-documentation
    
https://data.sec.gov/api/xbrl/companyfacts/CIK0000320193.json
    
    
https://www.sec.gov/Archives/edgar/data/0000320193/0000320193-22-000059.txt
    
https://www.sec.gov/Archives/edgar/data/320193/000032019322000063/xslF345X03/wf-form4_165248105838188.xml
https://www.sec.gov/Archives/edgar/data/320193/000032019322000059/aapl-20220326.htm

In [174]:


headers={"User-Agent": "Mozilla/5.0"}

symbol_to_cik = requests.get("https://www.sec.gov/files/company_tickers.json").json()
ciks = {v["ticker"]:v["cik_str"] for k,v in symbol_to_cik.items()}
cik = ciks["AAPL"]

In [187]:
v = f"{cik:0>10}"
v

'0000320193'

In [192]:
edgar_filings = requests.get(f"https://data.sec.gov/submissions/CIK{cik:0>10}.json", headers=headers).json()
edgar_filings.keys()
filings = pd.DataFrame(edgar_filings["filings"]["recent"])
filings.head(10)

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
0,0000320193-22-000063,2022-05-13,2022-05-06,2022-05-13T18:31:28.000Z,,4,,,,4636,0,0,xslF345X03/wf-form4_165248105838188.xml,FORM 4
1,0000320193-22-000061,2022-05-06,2022-05-04,2022-05-06T18:30:57.000Z,,4,,,,16362,0,0,xslF345X03/wf-form4_165187623819106.xml,FORM 4
2,0001193125-22-128368,2022-04-29,,2022-04-28T19:03:29.000Z,33,S-8,333-264555,22869039,,99455,0,0,d332661ds8.htm,S-8
3,0001193125-22-128361,2022-04-29,,2022-04-28T18:59:32.000Z,33,S-8 POS,333-165214,22869020,,121168,0,0,d279200ds8pos.htm,S-8 POS
4,0001193125-22-128354,2022-04-29,,2022-04-28T18:54:29.000Z,33,S-8 POS,333-195509,22869000,,121168,0,0,d279200ds8pos.htm,S-8 POS
5,0000320193-22-000059,2022-04-29,2022-03-26,2022-04-28T18:03:58.000Z,34,10-Q,001-36743,22868650,,6140838,1,1,aapl-20220326.htm,10-Q
6,0000320193-22-000058,2022-04-28,2022-04-28,2022-04-28T16:32:12.000Z,34,8-K,001-36743,22867217,"2.02,9.01",512525,1,1,aapl-20220428.htm,8-K
7,0000320193-22-000053,2022-04-19,2022-04-15,2022-04-19T18:31:54.000Z,,4,,,,12553,0,0,xslF345X03/wf-form4_165040749395911.xml,FORM 4
8,0000320193-22-000052,2022-04-19,2022-04-15,2022-04-19T18:30:44.000Z,,4,,,,16128,0,0,xslF345X03/wf-form4_165040742689204.xml,FORM 4
9,0000320193-22-000049,2022-04-05,2022-04-01,2022-04-05T18:33:35.000Z,,4,,,,17711,0,0,xslF345X03/wf-form4_164919799612317.xml,FORM 4

In [196]:

url = "https://www.sec.gov/Archives/edgar/data/320193/000032019322000059/aapl-20220326.htm"
requests.get(url,headers=headers)
# pd.read_html()

In [115]:
class FinancialReport():
    def __init__(self,file):
        self.file = file
        self.readFile()
        self.findBalanceSheet()
        self.findCashFlowSheet()
        self.findIncomeSheet()
    def readFile(self):
        path = os.path.join("financial statements",self.file)
        self.statements = pd.read_excel(path,sheet_name=None)
    def getSheetNames(self):
        return self.statements.keys()
    
    def findBalanceSheet(self):
        balanceSheetName = self.getSheetWithTitle(["BALANCE"])[0]
        self.balance = self.statements[balanceSheetName]
        self.balance.columns = ["label"]+list(self.balance.columns[1:])
        self.balance = self.balance.iloc[:,:2]
        
    def findIncomeSheet(self):
        incomeSheetName = self.getSheetWithTitle(["OPERATIONS","INCOME"])[0]
        self.income = self.statements[incomeSheetName]
        self.income = self.setFirstRowAsHeader(self.income)
        self.income.columns = ["label"]+list(self.income.columns[1:])
        self.income = self.income.loc[:, self.income.columns.notna()]
        if len(self.income.columns) >= 5:
            self.income = self.income.iloc[:,:-2]
        self.income = self.income.iloc[:,:2]

        
    def getSheetWithTitle(self,words): 
        return [name for name in self.getSheetNames() if np.any([word in str(self.statements[name].columns[0]) for word in words]) ]
                                                                
    def setFirstRowAsHeader(self, sheet):
        sheet.columns = sheet.iloc[0]
        sheet = sheet.drop(0)
        return sheet
    
    def findCashFlowSheet(self):
        cashflowSheetName = self.getSheetWithTitle(["CASH"])[0]
        self.cashflow = self.statements[cashflowSheetName]
        self.cashflow = self.setFirstRowAsHeader(self.cashflow)
        self.cashflow.columns = ["label"]+list(self.cashflow.columns[1:])
        self.cashflow = self.cashflow.loc[self.cashflow.label!="Document Period End Date"]
        self.cashflow = self.cashflow.iloc[:,:2]
        
    def getBalanceSheet(self):
        return self.balance
    def getCashFlowSheet(self):
        return self.cashflow
    def getIncomeSheet(self):
        return self.income

In [116]:
FinancialReport("10k 2018 (2017).xlsx")

In [117]:
class HelperFunctions:
    def clean_up_string(self,string):
        string = string.strip()
        space_positions = [x.start() for x in re.finditer('\ ',  string)]
        for i in reversed(space_positions):
            if string[i+1:] in ["of", "and"]:
                string = string[:i]
        return string
    
    def merge_number(self,a,b):
        if pd.isnull(a):
            return b
        if pd.isnull(b):
            return a
        return max(a,b)
    
    def getFiles(self):
        files = os.listdir("financial statements")
        files.remove(".DS_Store")
        files = [file for file in files if file[0] != "~"]
        return files

    def getFinancialStatements(self):
        files = self.getFiles()
        FinancialReports = [FinancialReport(file) for file in files]
        return FinancialReports

In [118]:
class ProcessQuarters:
    
    def getQuarterHeaders(self):
        quarters = [col for col in list(self.finalStatement.columns) if col not in ["title","label","title_order"]]
        return quarters
    def includesYear(self, string):
        return string[-4:].isdigit()
        
    def getLabelHeaders(self):
        headers = [col for col in list(self.finalStatement.columns) if not self.includesYear(col)]
        return headers
    
    def setQuarters(self):
        dates = self.getQuarterHeaders()
        headers = self.getLabelHeaders()
        dates.sort(key=lambda date: datetime.strptime(date.replace(".",""), '%b %d, %Y'))
        self.finalStatement = self.finalStatement[headers+dates]
        self.finalStatement.columns = headers+[self.parseQuarter(date) for date in self.getQuarterHeaders()]
    
    def reorderQuarters(self):
        years = self.getYears()
        headers = self.getLabelHeaders()
        #years = [year for year in years if "Q1 "+year in self.getQuarterHeaders()]
        quarters = self.getQuarterHeaders()
        cols = [q + " " + year for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"] if q + " " + year in quarters]
        cols = headers + cols
        self.finalStatement = self.finalStatement[cols]
        
    def getYears(self):
        years = list(set([x.split(" ")[-1] for x in self.getQuarterHeaders()]))
        years.sort()
        return years

In [119]:
class FinancialDataMerge:
    
    def addData(self, FinancialReports):
        for [sheet,file] in FinancialReports:
            print(file)
            dates = [col for col in sheet.columns[1:] if col not in self.finalStatement.columns] ## remove columns of data already in main sheet sheet
            if len(dates) == 0:
                continue
            cols = ["label"]+dates
            sheet = sheet[cols]
            
            sheet = self.parseStatement(sheet)
            
            self.finalStatement = pd.merge(self.finalStatement, sheet, how="outer",on=["label"],suffixes=('', '_x'))
            
            self.finalStatement.title_order = [self.merge_number(self.finalStatement.title_order[i],self.finalStatement.title_order_x[i]) for i in range(len(self.finalStatement))] #merge the number for the titles. use greatest num bc bigger num means there is section before it
            self.finalStatement = self.finalStatement.drop(["title_order_x","title_x"],axis=1)
    
    def rearrangeFinalStatement(self):
        self.finalStatement = self.finalStatement.replace(" ",np.nan)
        self.finalStatement = self.finalStatement.loc[~self.finalStatement[self.getQuarterHeaders()].isnull().all(axis=1)]
        
        #Make sure each title has same max number index
        self.reconcileTitleOrder()
        
        # put Totals at the bottom of each section
        self.reconcileLabelOrderWithTotals()
        
        self.finalStatement[["title_order","label_order"]] = self.finalStatement[["title_order","label_order"]].astype("int")
        self.finalStatement = self.finalStatement.sort_values(["title_order","label_order"]) # order by title and then location
        
        self.finalStatement = self.finalStatement.drop(["title_order","label_order"],axis=1).reset_index(drop=True)
        
        self.finalStatement[self.getQuarterHeaders()] = self.finalStatement[self.getQuarterHeaders()].fillna(0)
        
    def parseStatement(self,sheet):
        
        sheet = sheet.loc[(~sheet.drop(columns="label").isnull().all(axis=1) | sheet.label.str.contains(":"))]
        num = 0
        index = []
        title = None 
        for label in sheet.label:
            if ":" in label:
                title = re.sub("\([\w\W]+\)","",label[:-1]).replace("  "," ")
                num += 1
                continue
            new_label = label.lower()
            new_label = new_label.replace("gain","loss").replace("decrease","increase")
            new_label = re.sub("\([\w\W]+?\)","",new_label).replace("  "," ").replace("—"," - ").strip()
            new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
            new_label = self.clean_up_string(new_label)
            
            is_total = self.total_keyword == new_label.split(" ")[0]
            
            index.append([title,num,label,new_label])
                
            if is_total:
                title = None 
                num += 1
                
        sheet = sheet.loc[sheet.label.isin(np.array(index)[:,2])].copy()
        sheet["title"] = np.array(index)[:,0].tolist()
        sheet["title_order"] = np.array(index)[:,1].tolist()
        sheet["label"] = np.array(index)[:,3].tolist()
        sheet = sheet.set_index(["title","title_order","label"]).reset_index()
        self.sheet = sheet
        return sheet
    
        
    def reconcileTitleOrder(self):
        title_groupby = self.finalStatement.groupby("title")["title_order"].max().reset_index().dropna(axis=0, how='any')
        self.finalStatement = self.finalStatement.merge(title_groupby, on="title", how="left", suffixes=('', '_x') )
        self.finalStatement["title_order"] = [self.merge_number(self.finalStatement.title_order[i],self.finalStatement.title_order_x[i]) for i in range(len(self.finalStatement))] #merge the number for the titles. 
        self.finalStatement = self.finalStatement.drop(["title_order_x"],axis=1)
        
    def reconcileLabelOrderWithTotals(self):
        totals = self.finalStatement.loc[self.finalStatement.label.str.startswith(self.total_keyword)].reset_index(drop=True) 
        self.finalStatement = self.finalStatement.loc[~self.finalStatement.label.str.startswith(self.total_keyword)].reset_index(drop=True)
        self.finalStatement = pd.concat([self.finalStatement,totals]) 
        self.finalStatement = self.finalStatement.reset_index(drop=True).reset_index().rename(columns={"index":"label_order"})

In [128]:
class Income(FinancialDataMerge, ProcessQuarters, HelperFunctions):
    def __init__(self):
        self.total_keyword = "net"
        self.finalStatement = pd.DataFrame(columns=["title","title_order","label"])
        
        self.IncomeStatements = self.getIncomeStatements()
        self.addData(self.IncomeStatements)
        
        self.rearrangeFinalStatement()
        
        self.setQuarters()
        
        self.performIncomeMath()
        
        self.reorderQuarters()
        
      
    def getIncomeStatements(self):
        FinancialReports = self.getFinancialStatements()
        IncomeStatements = [[report.getIncomeSheet().copy(), report.file] for report in FinancialReports]
        return IncomeStatements
    
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["Apr","May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "Q2 "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "Q3 "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Year Ended "+str(int(year))
        
        print(mo)
        
    
    def performIncomeMath(self):
        quarters = self.finalStatement[self.getQuarterHeaders()]
        self.finalStatement[self.getQuarterHeaders()] = quarters.where(np.abs(quarters)<10**6,quarters/10**6)
        
        years = self.getYears()[1:]
        for year in years:
            if "Year Ended "+year not in self.getQuarterHeaders(): 
                continue
            self.finalStatement["Q4 "+year] = self.finalStatement["Year Ended "+year] - self.finalStatement["Q3 "+year]
            
            self.finalStatement.loc[self.finalStatement.label.str.startswith("weighted-average"),"Q4 "+year] = self.finalStatement.loc[self.finalStatement.label.str.startswith("weighted-average"),"Year Ended "+year]

In [129]:
income = Income()
finalIncome = income.finalStatement
finalIncome.to_excel("output/raw/income.xlsx",index=False)
finalIncome
finalIncome

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

,title,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,NaN,revenues,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,...,0.00,0.00,13800.00,13800.00,0.00,0.00,0.0,0.00,0.00,0.00
1,NaN,net sales,15516.00,3440.00,3799.00,3838.00,12017.00,15855.00,3783.0000,4085.0000,...,3275.00,3994.00,-3994.00,0.00,3991.00,4211.00,3943.0,12727.00,16670.00,3477.00
2,NaN,cost of goods sold and occupancy expenses,9876.00,2137.00,2320.00,2313.00,7476.00,9789.00,2356.0000,2458.0000,...,2126.00,2374.00,6721.00,9095.00,2361.00,2388.00,2282.0,7751.00,10033.00,2381.00
3,NaN,gross profit,5640.00,1303.00,1479.00,1525.00,4541.00,6066.00,1427.0000,1627.0000,...,1149.00,1620.00,3085.00,4705.00,1630.00,1823.00,1661.0,4976.00,6637.00,1096.00
4,NaN,operating expenses,4449.00,1049.00,1028.00,1147.00,3440.00,4587.00,1198.0000,1229.0000,...,1076.00,1445.00,4122.00,5567.00,1390.00,1414.00,1508.0,4319.00,5827.00,1293.00
5,NaN,operating income,1191.00,254.00,451.00,378.00,1101.00,1479.00,229.0000,398.0000,...,73.00,175.00,-1037.00,-862.00,240.00,409.00,153.0,657.00,810.00,-197.00
6,NaN,loss on extinguishment of debt,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,...,58.00,0.00,58.00,58.00,0.00,0.00,325.0,0.00,325.00,0.00
7,NaN,interest expense,75.00,19.00,16.00,18.00,56.00,74.00,16.0000,17.0000,...,58.00,55.00,137.00,192.00,54.00,51.00,44.0,123.00,167.00,20.00
8,NaN,interest income,-8.00,-3.00,-4.00,-4.00,-15.00,-19.00,-6.0000,-7.0000,...,-2.00,-1.00,-9.00,-10.00,-1.00,-1.00,-1.0,-4.00,-5.00,-1.00
9,NaN,income before income taxes,1124.00,238.00,439.00,364.00,1060.00,1424.00,219.0000,388.0000,...,-41.00,121.00,-1223.00,-1102.00,187.00,359.00,-215.0,538.00,323.00,-216.00
10,NaN,income taxes,448.00,95.00,168.00,135.00,441.00,576.00,55.0000,91.0000,...,21.00,26.00,-463.00,-437.00,21.00,101.00,-63.0,130.00,67.00,-54.00
11,NaN,"common stock, dividends, per share, declared",0.00,0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
12,NaN,net income,676.00,143.00,271.00,229.00,619.00,848.00,164.0000,297.0000,...,-62.00,95.00,-760.00,-665.00,166.00,258.00,-152.0,408.00,256.00,-162.00
13,NaN,weighted-average number of shares - basic,399.00,399.00,395.00,391.00,393.00,393.00,389.0000,387.0000,...,374.00,374.00,374.00,374.00,376.00,378.00,376.0,376.00,376.00,370.00
14,NaN,weighted-average number of shares - diluted,400.00,400.00,396.00,393.00,396.00,396.00,393.0000,390.0000,...,374.00,380.00,374.00,374.00,385.00,386.00,376.0,383.00,383.00,370.00
15,NaN,earnings per share - basic,1.69,0.36,0.69,0.59,1.57,2.16,0.4200,0.7700,...,-0.17,0.25,-2.03,-1.78,0.44,0.68,-0.4,1.08,0.68,-0.44
16,NaN,earnings per share - diluted,1.69,0.36,0.68,0.58,1.56,2.14,0.4200,0.7600,...,-0.17,0.25,-2.03,-1.78,0.43,0.67,-0.4,1.07,0.67,-0.44
17,NaN,cash dividends declared and paid per share,0.00,0.23,0.23,0.23,-0.23,0.00,0.2425,0.2425,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00

In [132]:
class Balance(FinancialDataMerge, ProcessQuarters, HelperFunctions):
    def __init__(self):
        self.total_keyword = "total"
        self.finalStatement = pd.DataFrame(columns=["title","title_order","label"])
        
        self.BalanceStatements = self.getBalanceStatements()
        self.addData(self.BalanceStatements)
        
        self.rearrangeFinalStatement()
        
        self.setQuarters()
        
        self.performBalanceMath()
        
        self.reorderQuarters()
        
      
    def getBalanceStatements(self):
        FinancialReports = self.getFinancialStatements()
        BalanceStatements = [[report.getBalanceSheet().copy(), report.file] for report in FinancialReports]
        return BalanceStatements
    
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["Apr","May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "Q2 "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "Q3 "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Year Ended "+str(int(year))
        
        
    def performBalanceMath(self):
        years = self.getYears()[1:]
        for year in years:
            if "Year Ended "+year not in self.getQuarterHeaders(): 
                continue
            self.finalStatement["Q4 "+year] = self.finalStatement["Year Ended "+year]
            
    def getAccumulatedDepreciation(self):
        Depreciation = {}
        quarters = []
        for sheet, file in self.BalanceStatements:
            sheet.label = [label.lower() for label in sheet.label]
            date = sheet.columns[1]
            quarter = self.parseQuarter(date) 
            quarters.append(quarter)
            label = sheet.loc[sheet.label.str.contains("property and equipment, net of accumulated depreciation"),"label"]
            if len(label)>0:
                label = label.iloc[0]
                dep = re.findall("\d+,*\d*",label)
                if len(dep) > 0:
                    dep = int(dep[0].replace(",",""))
                    Depreciation[quarter] = dep
                    continue
                   
            dep = sheet.loc[(sheet.label == "property and equipment, accumulated depreciation") | (sheet.label=="accumulated depreciation, depletion and amortization, property, plant, and equipment"), date]
            if len(dep) > 0:
                dep = dep.iloc[0]
                Depreciation[quarter] = dep
                if "Year Ended" in quarter:
                    Depreciation["Q4 "+quarter.split(" ")[-1]] = dep
                continue
        #dates = sorted(Depreciation,key=lambda date: datetime.strptime(date.replace(".",""), '%b %d, %Y'))
        years = list(set([x.split(" ")[-1] for x in quarters]))
        years.sort()
        cols = { q+" "+year : [Depreciation.get(q + " " + year, np.nan)] for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"] if q + " " + year in quarters}
        self.Depreciation = pd.DataFrame(cols)
        return self.Depreciation

In [133]:
balance = Balance()
balance.getAccumulatedDepreciation().to_excel("output/raw/depreciation.xlsx")

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

In [134]:
balance = Balance()
finalBalance = balance.finalStatement
finalBalance.to_excel("output/raw/balance.xlsx")
finalBalance

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

,title,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,NaN,cash and cash equivalents,1783.0,1583.0,1609.0,1353.0,1783.0,1783.0,1210.0,1322.0,...,2188.0,2471.0,0.00,0.00,2066.0,2375.0,801.0,877.00,877.00,845.00
1,NaN,short-term investments,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,410.00,410.00,0.0,0.0,275.0,0.00,0.00,0.00
2,NaN,merchandise inventory,1830.0,1961.0,2051.0,2476.0,1997.0,1997.0,2035.0,2202.0,...,2242.0,2747.0,2451.00,2451.00,2370.0,2281.0,2721.0,3018.00,3018.00,3169.00
3,NaN,other current assets,702.0,575.0,598.0,654.0,788.0,788.0,778.0,780.0,...,882.0,966.0,0.00,0.00,1091.0,1201.0,1410.0,1270.00,1270.00,991.00
4,NaN,"available-for-sale securities, current",0.0,0.0,0.0,0.0,0.0,0.0,164.0,286.0,...,25.0,178.0,0.00,0.00,475.0,337.0,0.0,0.00,0.00,0.00
5,NaN,"cash and cash equivalents, at carrying value",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1988.00,1988.00,0.0,0.0,0.0,0.00,0.00,0.00
6,NaN,"other assets, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1159.00,1159.00,0.0,0.0,0.0,0.00,0.00,0.00
7,NaN,total current assets,4315.0,4119.0,4258.0,4483.0,4568.0,4568.0,4187.0,4590.0,...,5337.0,6362.0,6008.00,6008.00,6002.0,6194.0,5207.0,5165.00,5165.00,5005.00
8,NaN,"property and equipment, net of accumulated dep...",0.0,2605.0,2643.0,2686.0,0.0,0.0,2791.0,2832.0,...,2895.0,2846.0,2841.00,2841.00,2839.0,2897.0,2924.0,3037.00,3037.00,2791.00
9,NaN,"operating lease, right-of-use asset",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4689.0,4460.0,4217.00,4217.00,4060.0,3975.0,3788.0,0.00,0.00,3587.00
10,NaN,other long-term assets,679.0,687.0,716.0,726.0,616.0,616.0,607.0,588.0,...,795.0,705.0,703.00,703.00,703.0,693.0,861.0,884.00,884.00,874.00
11,NaN,"accumulated depreciation, depletion and amorti...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5608.00,5608.00,0.0,0.0,0.0,5071.00,5071.00,0.00
12,NaN,operating lease assets,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,3675.00,3675.00,0.00
13,NaN,"property and equipment, net",2616.0,0.0,0.0,0.0,2805.0,2805.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
14,NaN,total assets,7610.0,7411.0,7617.0,7895.0,7989.0,7989.0,7585.0,8010.0,...,13716.0,14373.0,13769.00,13769.00,13604.0,13759.0,12780.0,12761.00,12761.00,12257.00
15,NaN,"line of credit facility, fair value of amount ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
16,NaN,accounts payable,1243.0,1119.0,1230.0,1330.0,1181.0,1181.0,1072.0,1297.0,...,1629.0,2284.0,1743.00,1743.00,1530.0,1583.0,1630.0,1951.00,1951.00,1599.00
17,NaN,accrued expenses and other current liabilities,1113.0,1088.0,1062.0,1132.0,1270.0,1270.0,975.0,1026.0,...,1124.0,1283.0,0.00,0.00,1294.0,1252.0,1414.0,1367.00,1367.00,1127.00
18,NaN,"operating lease, liability, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,856.0,823.0,831.00,831.00,798.0,789.0,746.0,0.00,0.00,717.00
19,NaN,income taxes payable,32.0,28.0,107.0,134.0,10.0,10.0,11.0,18.0,...,40.0,41.0,34.00,34.00,16.0,27.0,33.0,25.00,25.00,29.00
20,NaN,current maturities of debt,65.0,67.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
21,NaN,current portion of operating lease liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,734.00,734.00,0.00
22,NaN,"accrued liabilities, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1276.00,1276.00,0.0,0.0,0.0,0.00,0.00,0.00
23,NaN,total current liabilities,2453.0,2302.0,2399.0,2596.0,2461.0,2461.0,2058.0,2341.0,...,3649.0,4431.0,3884.00,3884.00,3638.0,3651.0,3823.0,4077.00,4077.00,3472.00
24,NaN,long-term debt,1248.0,0.0,0.0,0.0,1249.0,1249.0,0.0,0.0,...,0.0,0.0,2216.00,2216.00,0.0,0.0,0.0,1484.00,1484.00,0.00
25,NaN,long-term line of credit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,350.00
26,NaN,long-term operating lease liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,4033.00,4033.00,0.00
27,NaN,other long-term liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,438.00,438.00,0.0,0.0,0.0,445.00,445.00,0.00
28,NaN,total long-term debt,0.0,1248.0,1248.0,1248.0,0.0,0.0,1249.0,1249.0,...,2212.0,2214.0,0.00,0.00,2218.0,2220.0,1484.0,0.00,0.00,1485.00
29,NaN,"operating lease, liability, noncurrent",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5179.0,4899.0,4617.00,4617.00,4449.0,4348.0,4163.0,0.00,0.00,3921.00
30,NaN,lease incentives and other long-term liabilities,1005.0,999.0,1025.0,1027.0,1135.0,1135.0,1081.0,1080.0,...,423.0,458.0,0.00,0.00,493.0,520.0,523.0,0.00,0.00,575.00
31,NaN,total long-term liabilities,2253.0,2247.0,2273.0,2275.0,2384.0,2384.0,2330.0,2329.0,...,7814.0,7571.0,7271.00,7271.00,7160.0,7088.0,6170.0,5962.00,5962.00,6331.00
32,NaN,"common stock. par value, authorized shares for...",20.0,0.0,0.0,0.0,19.0,19.0,0.0,0.0,...,0.0,0.0,19.00,19.00,0.0,0.0,0.0,0.00,0.00,0.00
33,NaN,accumulated other comprehensive income,54.0,0.0,0.0,0.0,36.0,36.0,0.0,0.0,...,0.0,0.0,9.00,9.00,0.0,0.0,0.0,38.00,38.00,0.00
34,NaN,"common stock. par value, authorized shares for...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,19.00,19.00,0.00
35,NaN,authorized shares for all periods presented,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,19.0,19.0,0.00,0.00,19.00
36,NaN,additional paid in capital,81.0,0.0,0.0,0.0,8.0,8.0,0.0,0.0,...,39.0,60.0,85.00,85.00,118.0,114.0,71.0,43.00,43.00,0.00
37,NaN,retained earnings,2749.0,2796.0,2902.0,2965.0,3081.0,3081.0,3127.0,3268.0,...,2173.0,2268.0,2501.00,2501.00,2667.0,2879.0,2681.0,2622.00,2622.00,2389.00
38,NaN,amounts reclassified from accumulated other co...,0.0,46.0,23.0,40.0,0.0,0.0,51.0,53.0,...,22.0,24.0,0.00,0.00,2.0,8.0,16.0,0.00,0.00,46.00
39,NaN,authorized shares for all periods presented; i...,0.0,20.0,20.0,19.0,0.0,0.0,19.0,19.0,...,19.0,19.0,0.00,0.00,19.0,0.0,0.0,0.00,0.00,0.00
40,NaN,total stockholders' equity,2904.0,2862.0,2945.0,3024.0,3144.0,3144.0,3197.0,3340.0,...,2253.0,2371.0,2614.00,2614.00,2806.0,3020.0,2787.0,2722.00,2722.00,2454.00
41,NaN,"common stock, shares outstanding",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,374000.0,374000.00,374000.00,377000.0,376000.0,374000.0,371000.00,371000.00,369.00
42,NaN,total liabilities and stockholders' equity,7610.0,7411.0,7617.0,7895.0,7989.0,7989.0,7585.0,8010.0,...,13716.0,14373.0,13769.00,13769.00,13604.0,13759.0,12780.0,12761.00,12761.00,12257.00
43,NaN,"property and equipment, accumulated depreciation",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5891.0,0.00,0.00,5616.0,5603.0,5486.0,0.00,0.00,4967.00
44,NaN,"common stock, shares issued",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,374000.0,374000.00,374000.00,377000.0,376000.0,374000.0,371000.00,371000.00,369.00
45,NaN,"common stock, shares authorized",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2300000.0,2300000.00,2300000.00,2300000.0,2300000.0,2300000.0,2300000.00,2300000.00,2300.00
46,NaN,"common stock, par value",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,50000.0,0.05,0.05,50000.0,50000.0,50000.0,0.05,0.05,0.05

In [137]:
class CashFlow(FinancialDataMerge, ProcessQuarters, HelperFunctions):
    def __init__(self):
        self.total_keyword = "net"
        self.finalStatement = pd.DataFrame(columns=["title","title_order","label"])
        
        self.CashFlowStatements = self.getCashFlowStatements()
        self.addData(self.CashFlowStatements)
        
        self.rearrangeFinalStatement()
        
        self.setQuarters()
        
        self.performCashFlowMath()
        
        self.reorderQuarters()
        
      
    def getCashFlowStatements(self):
        FinancialReports = self.getFinancialStatements()
        CashFlowStatements = [[report.getCashFlowSheet().copy(), report.file] for report in FinancialReports]
        return CashFlowStatements
    
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["Apr","May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "6mo "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "9mo "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Year Ended "+str(int(year))     
    def performCashFlowMath(self):
        years = self.getYears()[1:]
        begin_cash = self.finalStatement.label.apply(lambda label: "cash" in label and "beginning of period" in label)
        data = [None, "cash at beginning of period"] + self.finalStatement.loc[begin_cash,self.getQuarterHeaders()].sum().tolist()
        self.finalStatement = self.finalStatement.drop(self.finalStatement.loc[begin_cash].index)
        self.finalStatement.loc[len(self.finalStatement)] = data

        end_cash = self.finalStatement.label.apply(lambda label: "cash" in label and "end of period" in label)
        data = [None, "cash at end of period"] + self.finalStatement.loc[end_cash,self.getQuarterHeaders()].sum().tolist()
        self.finalStatement = self.finalStatement.drop(self.finalStatement.loc[end_cash].index)
        self.finalStatement.loc[len(self.finalStatement)] = data
        
        self.finalStatement = self.finalStatement.set_index("label")
        for year in years:
            if "Year Ended "+year not in self.getQuarterHeaders(): 
                continue
            # find Q2 
            self.finalStatement["Q2 "+year] = self.finalStatement["6mo "+year] - self.finalStatement["Q1 "+year]
            self.finalStatement.loc["cash at beginning of period","Q2 "+year] = self.finalStatement.loc["cash at end of period","Q1 "+year]
            self.finalStatement.loc["cash at end of period","Q2 "+year] = self.finalStatement.loc["cash at end of period","6mo "+year]
            
            #find Q3 
            self.finalStatement["Q3 "+year] = self.finalStatement["9mo "+year] - self.finalStatement["6mo "+year]
            self.finalStatement.loc["cash at beginning of period","Q3 "+year] = self.finalStatement.loc["cash at end of period", "6mo "+year]
            self.finalStatement.loc["cash at end of period","Q3 "+year] = self.finalStatement.loc["cash at end of period","9mo "+year]
            
            
            #find Q3 
            self.finalStatement["Q4 "+year] = self.finalStatement["Year Ended "+year] - self.finalStatement["9mo "+year]
            self.finalStatement.loc["cash at beginning of period","Q4 "+year] = self.finalStatement["9mo "+year].loc["cash at end of period"]
            self.finalStatement.loc["cash at end of period","Q4 "+year] = self.finalStatement.loc["cash at end of period","Year Ended "+year]
        
        self.finalStatement = self.finalStatement.reset_index()
        self.finalStatement = self.finalStatement[["title","label"]+self.getQuarterHeaders()]

In [138]:
cashflow = CashFlow()
finalCashflow = cashflow.finalStatement
finalCashflow.to_excel("output/cashflow.xlsx")
finalCashflow

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

,title,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,NaN,net income,676,143,271,229,205,848,164,297,...,-62,95,234,-665,166,258,-152,-16,256,-162
1,NaN,depreciation and amortization,593,138,141,139,141,559,140,140,...,126,125,126,507,120,124,128,132,504,130
2,NaN,share-based compensation,76,20,22,18,27,87,21,27,...,17,20,22,77,36,36,25,42,139,1
3,NaN,"operating lease, impairment loss",0,0,0,0,0,0,0,0,...,1,0,30,391,5,1,0,-6,0,0
4,NaN,other asset impairment charges,107,0,0,0,28,28,0,0,...,3,0,8,135,0,1,0,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,income taxes paid,0,0,0,0,0,0,0,0,...,0,0,20,20,0,0,0,0,0,0
668,NaN,"cash paid for income taxes during the period, ...",488,35,95,130,310,570,19,42,...,16,-45,-8,0,20,127,34,34,215,-420
669,None,cash at beginning of period,1370,1783,1583,1609,1353,1783,1799,1229,...,1048,2241,2499,1381,2016,2096,2407,829,2016,902
670,NaN,"operating lease, payments",0,0,0,0,0,0,0,0,...,0,0,1096,1096,0,0,0,0,0,0
671,NaN,cash paid for operating lease liabilities,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1061,1061,0

In [848]:
finalCashflow["label"].tolist()

['cash and cash equivalents',
 'short-term investments',
 'merchandise inventory',
 'other current assets',
 'available-for-sale securities, current',
 'total current assets',
 'property and equipment, net of accumulated depreciation',
 'operating lease, right-of-use asset',
 'other long-term assets',
 'accumulated depreciation, depletion and amortization, property, plant, and equipment',
 'operating lease assets',
 'total assets',
 'line of credit facility, fair value of amount outstanding',
 'accounts payable',
 'accrued expenses and other current liabilities',
 'operating lease, liability, current',
 'income taxes payable',
 'current portion of operating lease liabilities',
 'total current liabilities',
 'long-term debt',
 'lease incentives and other long-term liabilities',
 'long-term operating lease liabilities',
 'other long-term liabilities',
 'total long-term debt',
 'total long-term liabilities',
 'operating lease, liability, noncurrent',
 'lease incentives and other long-term liabilities',
 'total long-term liabilities',
 'common stock, shares outstanding',
 'authorized shares for all periods presented',
 'additional paid in capital',
 'retained earnings',
 'amounts reclassified from accumulated other comprehensive income',
 'authorized shares for all periods presented; issued and outstanding and shares',
 'common stock. par value, authorized shares for all periods presented; issued and outstanding and shares',
 'accumulated other comprehensive income',
 'common stock. par value, authorized shares for all periods presented',
 "total stockholders' equity",
 "total liabilities and stockholders' equity",
 'property and equipment, accumulated depreciation',
 'common stock, shares issued',
 'common stock, shares authorized',
 'common stock, par value']

In [856]:
finalCashflow

,title,label,Year Ended 2016,Q1 2017,6mo 2017,9mo 2017,Year Ended 2017,Q1 2018,6mo 2018,9mo 2018,...,9mo 2020,Year Ended 2020,Q1 2021,6mo 2021,9mo 2021,Year Ended 2021,Q1 2022,6mo 2022,9mo 2022,Year Ended 2022
0,Cash flows from operating activities,net income,920,127,252,456,676,143,414,643,...,535,351,-932,-994,-899,-665,166,424,272,256
1,Adjustments to reconcile net income to net cas...,depreciation and amortization,592,148,303,449,593,138,279,418,...,417,557,130,256,381,507,120,244,372,504
2,Adjustments to reconcile net income to net cas...,share-based compensation,76,15,36,55,76,20,42,60,...,64,68,18,35,55,77,36,72,97,139
3,Adjustments to reconcile net income to net cas...,"operating lease, impairment loss",0,0,0,0,0,0,0,0,...,1,239,360,361,361,0,5,6,6,0
4,Adjustments to reconcile net income to net cas...,other asset impairment charges,54,0,0,0,107,0,0,0,...,9,98,124,127,127,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Supplemental disclosure of cash flow information,"cash paid for income taxes during the period, ...",452,43,143,318,488,35,130,260,...,117,176,37,53,8,20,20,147,181,215
95,Supplemental disclosure of cash flow information,cash paid for interest during the period,78,39,41,80,82,38,38,76,...,0,76,0,0,0,145,0,0,0,180
96,Supplemental disclosure of cash flow information,"operating lease, payments",0,0,0,0,0,0,0,0,...,0,1244,0,0,0,0,0,0,0,0
97,Supplemental disclosure of cash flow information,cash paid for operating lease liabilities,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1096,0,0,0,1061
98,None,cash at beginning of period,1515,1370,1370,1370,1384,1783,1783,1797,...,1420,1420,1381,1381,1381,1381,2016,2016,2016,2016